// #introducing::before {
// content: "";
// display: inline-block;
// position: relative;
// top: -0.1em;
// margin-right: 0.25em;
// width: 25px;
// height: 2px;
// background: #3cff00;
// vertical-align: middle;
// }

#profile-picture {
   // width: 37%;
   max-width: 350px;
   margin-right: 7%;
   text-align: right;
   float: right;
}

#intro {
   font-size: 23px;
   // display: flex;
   flex-wrap: wrap;
   flex-basis: 100%;
}

// @media (min-width: 600px) {
// #intro {
// flex-wrap: nowrap;
// }
// }

// for screen size 720 and under
@media screen and (max-width: 721px) {
   #intro {
      justify-content: center;
      padding: 10px;
   }

   #profile-picture {
      text-align: 0;

      display: block;
      border: none;

      display: flex;
      justify-content: center;
   }
}

.accent-btn {
   background-color: #ffe066;
   color: black;
   margin-right: 15px;
}
