.project-card {
   max-width: 400px;
   border: 10px;
   background-color: #363741;
   color: #fff;
   border: 1px solid #fff;
   border-color: #fff;
   gap: 15px;
   margin-bottom: 20px;
   margin-left: 15px;
   height: auto;
   float: center;
   // height: 600px;
   height: 100%;
   // display: flex;
}
.project-card:hover {
   cursor: pointer;
}

.project-image {
   text-align: center;
}

mat-chip:hover {
   cursor: pointer;
}

// TODO: center these on a smaller screen
@media screen and (max-width: 721px) {
   .project-card {
      // margin-right: 30px;
      // margin-left: 20px;
      margin-bottom: 20px;
      justify-content: center;
      // center the cards
      text-align: left;
      float: left;
      // left align the cards
      // background-color: red;
   }
}
