/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootswatch/dist/superhero/bootstrap.min.css";
@use "@angular/material" as mat;
@include mat.core();


html,
body {
   height: 100%;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   padding-left: 50px;
}
p {
   font-size: 16px;
}
