/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

html,
body {
   height: 100%;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   padding-left: 50px;
   background-color: #2e2d2d;
}
p {
   font-size: 16px;
}
