<div id="intro">
   <div id="profile-picture">
      <img id="img" [src]="profileImage" />
   </div>
   <p id="introducing" style="color: #3cff00">Introducing</p>

   <h1>Hello</h1>
   <h1>I'm <strong>Shawn Yu</strong></h1>

   <br />
   <p>{{ aboutMe }}</p>
</div>
<br />
<!-- <section> -->
<!-- <a mat-flat-button class="accent-btn" href="https://github.com/shawnyu5" -->
<!-- >GitHub</a -->
<!-- > -->
<!-- <a -->
<!-- mat-flat-button -->
<!-- class="accent-btn" -->
<!-- href="https://www.linkedin.com/in/shawn-yu-228ba6206/" -->
<!-- >LinkedIn</a -->
<!-- > -->
<!-- </section> -->

<div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]">
   <br />
</div>
<h1 style="font-size: 32px">Projects</h1>
<!-- <hr /> -->
<app-project id="projects"></app-project>
