<div id="intro">
   <p id="introducing" style="color: #3cff00">Introducing</p>

   <div id="profile-picture">
      <img id="img" [src]="profileImage" />
   </div>
   <h1>Hello</h1>
   <h1>I'm <strong>Shawn Yu</strong></h1>

   <br />
   <p>{{ aboutMe }}</p>
</div>
<br />
<section>
   <a mat-flat-button class="accent-btn" href="https://github.com/shawnyu5"
      >GitHub</a
   >
   <a
      mat-flat-button
      class="accent-btn"
      href="https://www.linkedin.com/in/shawn-yu-228ba6206/"
      >LinkedIn</a
   >
</section>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="font-size: 32px">Projects</h1>
<!-- <hr /> -->
<app-project></app-project>
